cuda~=11.5.50
numpy~=1.21.2
open3d~=0.14.1
pandas~=1.2.3
torch~=1.10.0
MinkowskiEngine~=0.5.4
pytorch3d~=0.6.1
tqdm~=4.62.3
tensorboardX~=2.5
matplotlib~=3.5.1
h5py~=3.6.0
torchac~=0.9.3
setuptools~=58.0.4
scipy~=1.7.3
scikit-learn~=1.0.2